@charset "UTF-8";

:root {
    --corbackground: rgb(58, 49, 108) ;
    --corbotao: rgb(85, 134, 203) ;
    --cor2: rgb(122 89 159);

    --fonte_padrao: Arial;
    --fonte_botao: 'Verdana';
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte_padrao);
    color: rgb(29, 29, 29);
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--corbackground);
    height: 100%;
    width: 100%;
}

main {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.993);
    width: 270px;
    min-height: 80vh;
    margin: auto;
    margin-top: 70px;
    box-shadow: -4px 4px 4px rgba(22, 16, 34, 0.867);
    padding-bottom: 20px;
    overflow: hidden;
}

#img { 
    background-image: url(../imagens/fundo_padrao.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-position: left top;
    height: 220px;
    border: none;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    font-style: bolder;
}

p {
    text-align: justify;
    font-size: 0.8em;
    padding: 5%;
    padding-bottom: 6%;
}

form {
    background-color: var(--corbackground);
    border-radius: 8px;
    border-radius: 5px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7px;
    margin-top: 5px;
    padding: 5px;
    width: 90%;
    height: 42px;
    box-sizing: border-box;
}

input {
    box-sizing: border-box;
    display: block;
    background-color: rgba(255, 255, 255, 0.973);
    float: right;
    width: 80%;
    height:100%;
}

input#insirasenha {
    margin-bottom: 12px;
    padding: 0;
}

button {
    box-sizing: border-box;
    background-color: var(--corbotao);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.297);
    color: white;
    display: block;
    font-size: 0.8em;
    font-family: var(--fonte_botao);
    text-align: center;
    width: 243px;
    height: 42px;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(104, 166, 254) ;
}

a {
    text-decoration: none;
    font-family: var(--fonte_botao);
    color: lightgrey;
}
div.recuperarsenha {
    text-align: center;
    display: block;
    margin-top: 57px;
    margin-left: 5%;
    border-radius: 5px;
    border: 0.5px solid rgb(183, 220, 242);
    width: 243px;
    height: 42px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.184);
}

.recuperarsenha:hover {
    cursor: pointer;
    background-color: rgb(187, 188, 188) ;
    border: none;
    color: white;
}